{% extends "base.html" %}

{% block title %}
  ساخت مقاله ی جدید
{% endblock title %}

{% block content %}

<h1 class="text-center my-4">نوشتن مقاله جدید</h1>
<hr>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow-sm">
                
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">

                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">ایجاد مقاله</button>
                        <a href="{{post.get_}}" target="_blank" rel="noopener noreferrer"></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>
<hr>
    {% endblock content %}
